$color-white: #fff;

// grey
$color-grey-100: hsla(205, 25%, 96%, 1);
$color-grey-200: hsla(210, 25%, 92%, 1);
$color-grey-300: hsla(211, 24%, 88%, 1);
$color-grey-400: hsla(211, 22%, 82%, 1);
$color-grey-500: hsla(210, 18%, 65%, 1);
$color-grey-600: hsla(208, 15%, 54%, 1);
$color-grey-700: hsla(209, 16%, 35%, 1);
$color-grey-800: hsla(210, 16%, 26%, 1);
$color-grey-900: hsla(209, 28%, 15%, 1);

// yellow
$color-yellow-100: hsla(60, 100%, 97%, 1);
$color-yellow-200: hsla(58, 97%, 87%, 1);
$color-yellow-300: hsla(55, 91%, 76%, 1);
$color-yellow-400: hsla(51, 89%, 67%, 1);
$color-yellow-500: hsla(47, 81%, 61%, 1);
$color-yellow-600: hsla(40, 67%, 51%, 1);
$color-yellow-700: hsla(36, 71%, 42%, 1);
$color-yellow-800: hsla(32, 75%, 34%, 1);
$color-yellow-900: hsla(30, 74%, 26%, 1);

// red
$color-red-100: hsla(359, 89%, 96%, 1);
$color-red-200: hsla(359, 72%, 89%, 1);
$color-red-300: hsla(359, 70%, 73%, 1);
$color-red-400: hsla(359, 61%, 64%, 1);
$color-red-500: hsla(359, 63%, 59%, 1);
$color-red-600: hsla(359, 50%, 50%, 1);
$color-red-700: hsla(359, 54%, 39%, 1);
$color-red-800: hsla(359, 58%, 31%, 1);
$color-red-900: hsla(359, 56%, 25%, 1);

// blue
$color-blue-100: hsla(215, 100, 93, 1);
$color-blue-200: hsla(215, 94, 81, 1);
$color-blue-300: hsla(215, 84, 71, 1);
$color-blue-400: hsla(215, 74, 61, 1);
$color-blue-500: hsla(215, 64, 51, 1);
$color-blue-600: hsla(215, 64, 41, 1);
$color-blue-700: hsla(215, 93, 23, 1);
$color-blue-800: hsla(213, 87, 17, 1);
$color-blue-900: hsla(213, 66, 14, 1);

// green
$color-green-100: hsla(136, 100%, 97%, 1);
$color-green-200: hsla(139, 73%, 87%, 1);
$color-green-300: hsla(141, 61%, 75%, 1);
$color-green-400: hsla(143, 55%, 62%, 1);
$color-green-500: hsla(145, 46%, 51%, 1);
$color-green-600: hsla(148, 48%, 43%, 1);
$color-green-700: hsla(150, 48%, 35%, 1);
$color-green-800: hsla(152, 45%, 28%, 1);
$color-green-900: hsla(152, 42%, 23%, 1);